* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 30px;
}
body {

    background: #000000
}
.calc {
    width: 400px;
    margin: 100px auto;
}
.display {
    color: #ffffff;
    text-align: left;
    font-size: 50px;
    padding: 20px;
}
.keypad-table tr:first-child .key{
    background: #a5a5a5;
}
.keypad-table tr:first-child .key:active{
background: #a5a5a590;
}
.keypad-table tr td:first-child .key {
    background: #a5a5a5;
}
.keypad-table tr td:first-child .key:active {
    background:  #a5a5a590;
}

.keypad-table tr td:last-child .key{
    background-color: #ffa45c;
 }
 .keypad-table tr td:last-child .key:active{
    background-color: #ffa45ccc;
 }
 .key {
     width: 90px;
     height: 90px;
     border: 1px solid black;
     text-align: center;
     line-height: 90px;
     border-radius: 90px;
     margin: 5px;
     background: #333333;
     color: #ffffff;
     cursor: pointer;
     user-select: none;
 }
 .key:active {
     background: #33333390;
 }
